<!doctype html>
<html>
<head>
    <title>Order Up!</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href="/"><img src="astroiddollars.png" alt="coffee logo"></a>

  <section class="container">
            <h2>Log-In</h2>
            
            <a href="/signup">Sign-Up</a> 
            
            <form action="/login" method="post">
                <input class="inputs" type="text" name="firstName" placeholder="First Name">
                <input class="inputs" type="text" name="lastName" placeholder="Last Name">
                <input class="inputs" type="text" name="email" placeholder="email">
                <input class="inputs" type="password" name="password" placeholder="password">
                <section class="submit-btn">
                  <button  type="submit">Submit</button>
                </section>
              </form>
              <a href="/"><button class="submit-btn">Home</button></a>
        
  </section>


 
<script src="main.js"></script>

</body>
</html>